<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShanePrototypeIos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3431E2E41DD2F7D70007A462</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3431E2F81DD2F7D80007A462</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3431E3031DD2F7D80007A462</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
